body{
	font-family: sans-serif;
	font-style: normal;
	background-color: black;
}
h1{
	color: white;
}
.container{
	background-color: orange;
	border: solid white;
	border-radius: 10px;
}
#pongp{
	font-size: 30px;
}
#PongP2{
 color:green;
}
#about{
	color: green
}

.container-fluid{
	background-color: blue;
	text-align: center;
	padding: 60px;
}
.footer{
	color:black;
	margin: auto;
	padding: auto;
}
.footer p1{
	font-size: 20px;
	margin: auto;
	padding: auto;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: blue;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: black;
  color: white;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: yellowgreen;
  }
}
