body{
	font-family: sans-serif;
	font-style: normal;
	background-color: black;
}
h1{
	color: white;
}
.container{
	background-color: orange;
	border: solid white;
	border-radius: 10px;
}
#pongp{
	font-size: 30px;
}
#PongP2{
 color:green;
}
#about{
	color: green
}

.container-fluid{
	background-color: blue;
	text-align: center;
	padding: 30px;
}
.footer{
	text-align: center;
}
